[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
click = "==8.0.0"
itsdangerous = "==1.1.0"
Flask = "==1.1.1"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.3"

[requires]
python_version = "3.7"

[scripts]
start = "python service.py"
fix = "autopep8 --in-place --recursive ."
lint = "autopep8 --diff --exit-code --recursive ."
flake8 = "flake8"
